# mcDETECT Tutorial

Authors: Chenyang Yuan, Krupa Patel, Hongshun Shi, Hsiao-Lin V. Wang, Feng Wang, Ronghua Li, Yangping Li, Victor G. Corces, Hailing Shi, Sulagna Das, Jindan Yu, Peng Jin, Bing Yao* and Jian Hu*

### Outline
1. [Installation](#1.-installation)
2. [Import Python modules](#2.-import-python-modules)
3. [Read in data](#3.-read-in-data)

### 1. Installation

### 2. Import Python modules

In [ ]:
import matplotlib.colors as clr
import matplotlib.pyplot as plt
import scanpy as sc

from model_temp import *

import warnings
warnings.filterwarnings("ignore")
sc.settings.verbosity = 0

### 3. Read in data

In [2]:
# Read and format transcripts
transcripts = pd.read_parquet("toy_data/transcripts.parquet")
transcripts = transcripts[['cell_id', 'overlaps_nucleus', 'feature_name', 'x_location', 'y_location', 'z_location']]
transcripts = transcripts.rename(columns = {"feature_name": "target", "x_location": "global_x", "y_location": "global_y", "z_location": "global_z"})

# Define synaptic markers
syn_genes = ['Snap25', 'Camk2a', 'Slc17a7', 'Vamp2', 'Syp', 'Syn1', 'Dlg4', 'Gria2', 'Gap43', 'Gria1', 'Bsn', 'Slc32a1']

# Read negative control markers
nc_genes = pd.read_csv('toy_data/negative_controls.csv')
nc_genes = list(nc_genes['Gene'])

In [3]:
mc = mcDETECT(type = "Xenium", transcripts = transcripts, syn_genes = syn_genes, nc_genes = nc_genes, eps = 1.5, grid_len = 1, cutoff_prob = 0.95, alpha = 5, low_bound = 3,
              size_thr = 5, in_nucleus_thr = (0.5, 0.5), l = 1, rho = 0.2, s = 1, nc_top = 20, nc_thr = 0.1)

In [5]:
sphere = mc.detect()

1 out of 12 genes processed!
2 out of 12 genes processed!
3 out of 12 genes processed!
4 out of 12 genes processed!
5 out of 12 genes processed!
6 out of 12 genes processed!
7 out of 12 genes processed!
8 out of 12 genes processed!
9 out of 12 genes processed!
10 out of 12 genes processed!
11 out of 12 genes processed!
12 out of 12 genes processed!
Merging spheres...
Negative control filtering...

In [6]:
sphere

,sphere_x,sphere_y,sphere_z,layer_z,sphere_r,size,comp,in_nucleus,gene
0,5861.525313,2021.429797,15.259961,15.259961,1.115372,8,3,0.000000,Snap25
1,5823.012341,2477.027071,18.744452,18.744452,1.400544,13,5,0.000000,Snap25
2,5805.578936,2419.213116,18.711572,18.711572,1.355859,9,3,0.000000,Snap25
3,5831.996698,2545.542771,18.262820,18.262820,1.168398,7,2,0.000000,Snap25
4,5800.522809,2731.226949,16.212029,16.212029,1.322234,7,2,0.000000,Snap25
...,...,...,...,...,...,...,...,...,...
1421,6519.312500,2139.578125,17.562500,17.562500,0.908403,3,1,0.000000,Slc32a1
1422,6576.820312,2377.734375,14.804688,14.804688,1.148358,5,1,0.000000,Slc32a1
1423,6633.195312,2388.710938,16.890625,16.890625,0.476370,3,1,0.333333,Slc32a1
1424,6530.494635,2487.223874,15.567417,15.567417,1.246287,8,4,0.000000,Slc32a1
1425,6506.195312,2733.085938,14.562500,14.562500,0.586406,3,1,0.000000,Slc32a1

In [7]:
a = mc.profile(sphere)